

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-inverse .btn-navbar {
	display:block;
}

.right-button {
	float:left !important;
}

.left-button {
	font-size:40px;
	padding:0px;
}















